body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px; /* Lebar maksimum kotak putih */
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input[type="text"], select, input[type="date"], input[type="time"] {
    width: 100%; /* Memastikan input mengisi lebar penuh */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
    margin-bottom: 10px; /* Jarak antar input */
}

.date-time-container {
    display: flex;
    justify-content: space-between;
}

input[type="date"], input[type="time"] {
    width: 48%; /* Lebar input tanggal dan waktu */
}

input[type="date"]:focus, input[type="time"]:focus {
    border-color: #007bff;
    outline: none;
}

button {
    padding: 12px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; /* Jarak atas untuk tombol tambah */
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:last-child {
    border-bottom: none;
}

/* Responsif */
@media (max-width: 600px) {
    .date-time-container {
        flex-direction: column; /* Mengubah arah kolom pada layar kecil */
    }

    input[type="date"], input[type="time"] {
        width: 100%; /* Lebar penuh pada layar kecil */
        margin-right: 0; /* Menghilangkan margin kanan */
        margin-bottom: 10px; /* Jarak antar input */
    }
}